

#ku-group-search {
  background-color: #f7f7f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 0;
  margin: 10px;
  display: block;
  overflow: visible;
  width: 80%;
  margin: 10px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

/* we need this to make the input behave */
#ku-group-search .ku-gs-wrap {
  display: block;
  margin: 0 40px;
}

#ku-group-search .ku-gs-title {
  margin: 0 0 20px 0;
}

#ku-group-search input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
}

#ku-group-search select {
  width: auto;
}

#ku-group-search #ku-gs-btn-update {
  float: right;
}

#ku-group-search #ku-gs-btn-desc {
  float: right;
  font-size: 13px;
  line-height: 30px;
  padding: 0 10px;
  display: none;
}

#ku-group-search .ku-gs-btn-desc-success {
  color: #5bb75b;
}

#ku-group-search .ku-gs-btn-desc-danger {
  color: #da4f49;
}

#ku-group-search .progress-striped .bar,
#ku-group-search .progress .bar, {
  background-color: #901a1e;
}

#ku-group-search #ku-gs-progress-wrap {
  display: none;
}

#ku-group-search a {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  display: block;
  padding: 6px;
  text-decoration: none;
}

#ku-group-search a:hover,
#ku-group-search a:active,
#ku-group-search a:focus {
  background-color: #f9f9f9;
  text-decoration: none;
}

#ku-group-search a span {
  display: block;
}

#ku-group-search a span.ku-gs-result-name {
  color: #901a1e;
  font-weight: bold;
}

#ku-group-search a span.ku-gs-result-desc {
  color: #777;
  font-size: 0.9em;
}

#ku-group-search a span.ku-gs-result-cat {
  color: #555;
  font-size: 0.9em;
  margin-top: 3px;
}

#ku-group-search a span.ku-gs-result-cat span {
  font-weight: bold;
  display: inline-block;
}

#ku-group-search #ku-gs-results a:first-child {
  margin-top: 20px;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #ccc;
}

#ku-group-search #ku-gs-results a:last-child {
  border-radius: 0 0 4px 4px;
}

#ku-group-search #ku-gs-results a:only-child {
  border-radius: 4px;
}
